[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
bind-address = 172.20.3.114
port = 3306
log-bin = mysql-bin
binlog_format = ROW
default-storage-engine = innodb
innodb_autoinc_lock_mode = 2
collation-server = utf8_general_ci
init-connect = SET NAMES utf8
character-set-server = utf8
wsrep_cluster_address = gcomm://172.20.3.114:4567,172.20.3.195:4567,172.20.3.230:4567
#wsrep_cluster_address = gcomm://
wsrep_provider_options = gmcast.listen_addr=tcp://172.20.3.114:4567;ist.recv_addr=172.20.3.114:4568
wsrep_node_address = 172.20.3.114:4567
wsrep_sst_receive_address = 172.20.3.114:4444
wsrep_provider = /usr/lib64/galera/libgalera_smm.so
wsrep_cluster_name = openstack
wsrep_node_name = controller01
wsrep_sst_method = xtrabackup-v2
wsrep_sst_auth = xtrabackup:mypassword
wsrep_slave_threads = 4
#wsrep_notify_cmd = /usr/local/bin/wsrep-notify.sh
wsrep_on = ON
max_connections = 10000
key_buffer_size = 64M
max_heap_table_size = 64M
tmp_table_size = 64M
innodb_buffer_pool_size = 4096M
